$amethyst: rgb(155, 89, 182);
$asbestos: rgb(127, 140, 141);
$belize-hole: rgb(41, 128, 185);
$concrete: rgb(149, 165, 166);
$emerald: rgb(46, 204, 113);
$green-sea: rgb(22, 160, 133);
$nephritis: rgb(39, 174, 96);
$peter-river: rgb(52, 152, 219);
$pickled-bluewood: rgb(44, 62, 80);
$turqouise: rgb(26, 188, 156);
$wet-asphalt: rgb(52, 73, 94);
$wisteria: rgb(142, 68, 173);